.event {
  background-color: $color-default-white;
  position: relative;
}

.event__content-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-top: 120px;
  padding-bottom: 105px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  @include vp-1199 {
    padding-top: 103px;
    padding-bottom: 100px;
    font-size: 12px;
    line-height: 18px;
  }

  @include vp-767 {
    padding-top: 69px;
    padding-bottom: 64px;
    grid-template-columns: 1fr;
  }
}

.event__content {
  background-color: $color-torch-red;
  display: grid;
  align-content: flex-start;
  grid-template-columns: 201px 92px;
  gap: 19px 50px;
  padding: 87px 78px 65px;

  @include vp-1199 {
    max-width: 291px;
    padding: 45px 10px 12px;
    column-gap: 1px;
  }

  @include vp-767 {
    max-width: calc(100% - 4px);
    justify-content: center;
    padding: 45px 0 49px;
  }
}

.event__header {
  margin: -3px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 48px;
    line-height: 46px;
    padding-right: 20px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.event__subheader {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  grid-column: 1/3;
  margin: -54px 0 0;

  @include vp-1199 {
    font-size: 12px;
    margin-top: -44px;
    text-align: center;
    margin-left: -37px;
  }
}

.event__dates {
  display: grid;
  grid-template-columns: max-content;
  width: 50px;
  margin-top: 10px;

  @include vp-1199 {
    padding-top: 7px;
    margin-left: -26px;
  }

  @include vp-767 {
    margin-left: -16px;
  }
}

.event__item-header {
  margin-top: -16px;
}

.event__item {
  @include vp-1199 {
    padding-left: 5px;
  }
}

.event__info {
  position: relative;
  display: flex;
  align-items: center;
  width: min-content;
  margin-left: 0;
  padding-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 3px;
    background-color: $color-default-white;
  }

  @include vp-1199 {
    padding-bottom: 14px;
  }
}

.event__numbers {
  margin: 0 5px 0 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 36px;
  }
}

.event__date {
  font-size: 14px;
  line-height: 21px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 15px;
  }
}

.event__link {
  grid-column: 1/3;
  padding-top: 19px;
  padding-bottom: 17px;
  place-self: end;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 1;

  &:hover {
    color: $color-egyptian-blue;
    background-color: $color-default-white;
  }

  &:active {
    color: $color-sapphire;
  }

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    border-width: 2px;
    padding: 12px 17px 13px 15px;
    margin-top: -15px;
    max-width: 204px;
    margin-right: 56px;
  }

  @include vp-767 {
    margin-right: 45px;
  }
}

.event__image {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include vp-767 {
    max-width: calc(100% - 4px);
  }
}
