.gym__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 120px 103px 237px;
  gap: 35px;
  max-width: 1360px;
  margin: 0 auto;


  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 45px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    padding: 0;
    align-items: start;
  }
}

.gym__media {
  position: relative;

  @include vp-767 {
    min-width: 320px;
  }
}

.gym__picture {
  width: 100%;
}

.gym__about {
  padding-left: 60px;
  padding-top: 56px;
  padding-right: 30px;
  min-width: 360px;

  @include vp-1199 {
    padding: 0;
    padding-top: 113px;
    text-align: center;
  }

  @include vp-767 {
    padding-top: 71px;
    text-align: start;
    padding-left: 15px;
    min-width: 320px;
  }
}

.gym__header {
  margin: 0;
  font-family: $ff-alumni;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1.44px;
  margin-bottom: 24px;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 13px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.gym__subheader {
  display: block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.25px;
  -webkit-text-stroke: 0.5px;
  line-height: 150%;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.gym__text,
.gym__subtext {
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  max-width: 437px;

  @include vp-1199 {
    max-width: 550px;
  }
}

.gym__text {
  margin-bottom: 8px;

  @include vp-1199 {
    margin-bottom: 7px;
  }

  @include vp-767 {
    margin-bottom: -3px;
    padding-right: 45px;
  }
}

.gym__subtext {
  @include vp-1199 {
    display: none;
  }
}
