.promo {
  padding-bottom: 13px;

  @include vp-1199 {
    padding-bottom: 44px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.promo__wrapper {
  display: flex;
  gap: 13px;
  margin-top: -11px;

  @include vp-1199 {
    justify-content: center;
    margin: 0;
    gap: 27px;
  }

  @include vp-767 {
    justify-content: right;
  }
}

.promo__content {
  text-align: end;
}

.promo__content-wrapper {
  display: flex;
  gap: 17px;
  margin-bottom: 48px;

  @include vp-1199 {
    gap: 0;
    margin-bottom: 37px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.promo__content-inner {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 127px;
  font-family: $ff-alumni;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1.44px;
  text-transform: lowercase;

  @include vp-1199 {
    margin-top: 58px;
  }
}

.promo__list {
  list-style: none;
  margin: 0;
  padding: 305px 0 0;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  min-width: 130px;

  @include vp-1199 {
    padding: 186px 0 0;
    margin-right: -106px;
    padding-right: 20px;
  }

  @include vp-767 {
    padding: 178px 0 0;
    margin-left: -18px;
  }
}

.promo__item {
  font-weight: 400;

  @include vp-1199 {
    min-width: 113px;
  }
}

.promo__header {
  margin: 0;
  letter-spacing: 3px;
  line-height: 111px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  padding-right: 52px;
  -webkit-text-stroke: 2px;

  @include vp-1199 {
    font-size: 78px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding-right: 2px;
    line-height: 86px;
    text-transform: none;
    padding-left: 25px;
  }

  @include vp-767 {
    margin-left: -55px;
    font-size: 72px;
    letter-spacing: 3.6px;
  }
}

.promo__city {
  margin: 0;
  padding-right: 103px;
  margin-bottom: 31px;

  @include vp-1199 {
    font-size: 34px;
    letter-spacing: 1.02px;
    padding-right: 6px;
    margin-bottom: 15px;
  }

  @include vp-767 {
    font-size: 28px;
    letter-spacing: 0.84px;
    margin-bottom: 17px;
  }
}

.promo__link {
  margin-right: 50px;

  &:hover {
    color: $color-egyptian-blue;
    background-color: $color-default-white;
  }

  &:active {
    color: $color-sapphire;
  }

  @include vp-1199 {
    margin-right: 0;
    padding: 14px 32px;
  }

  @include vp-767 {
    width: 101%;
    justify-content: center;
    margin-left: -2px;
    padding: 15px 32px;
  }
}

.promo__image {
  display: block;

  @include vp-1199 {
    max-width: 324px;
  }

  @include vp-767 {
    display: none;
  }
}
