.sale {
  padding: 90px 0 121px;

  @include vp-1199 {
    padding: 64px 0 100px;
  }

  @include vp-767 {
    padding: 40px 0 70px;
  }
}

.sale__header {
  margin-bottom: 34px;
  font-size: 54px;
  font-family: $ff-alumni;
  font-weight: 700;
  line-height: 65px;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 44px;
    margin-left: -10px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-left: 0;
    font-size: 32px;
    line-height: 32px;
  }
}

.sale__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.sale__item {
  display: flex;
  flex-direction: column;
  padding: 17px 28px 20px;
  border: 7px solid transparent;
  border-image: $torch-red-to-cobalt-darker-sale;

  &--large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-row: 1/3;
    border: none;
    color: $color-default-white;
    background-color: $color-torch-red;
  }

  @include vp-1199 {
    min-height: 211px;

    &--large {
      grid-template-columns: 1fr 399px;
      grid-column: 1/3;
      grid-row: 1/2;
    }
  }

  @include vp-767 {
    padding: 28px 28px 31px;

    &--large {
      padding: 0;
      grid-template-columns: 1fr;
      grid-column: 1/2;
    }
  }
}

.sale__subheader {
  margin: 0 0 3px;
  margin-bottom: 3px;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;

  @include vp-767 {
    margin-bottom: 8px;
  }
}

.sale__text {
  font-weight: 400;

  @include vp-767 {
    margin: 0;
    line-height: 19px;
  }
}

.sale__list-link {
  position: relative;
  display: block;
  width: min-content;
  margin-top: auto;
  margin-left: -10px;
  padding: 10px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: $color-sapphire;
  text-transform: uppercase;
  transition: all 0.3s;

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 8px;
    border-bottom: 1px solid currentColor;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus::after {
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border: 1px solid currentColor;
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    opacity: 1;
  }

  &:active::after {
    left: 10px;
    right: 10px;
    bottom: 8px;
    border-bottom: 1px solid currentColor;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  @include vp-767 {
    margin-left: auto;
    margin-right: auto;
  }
}

.sale__list-content {
  display: flex;
  flex-direction: column;
  padding: 36px 45px 37px;
}

.sale__subheader--large {
  font-size: 28px;
}

.sale__money {
  display: block;
  font-size: 70px;
  line-height: 70px;

  @include vp-767 {
    margin-bottom: 7px;
  }
}

.sale__text--large {
  font-size: 18px;
  line-height: 23px;

  @include vp-767 {
    margin: 0;
    margin-bottom: 20px;
  }
}

.sale__list-link--white {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
}

.sale img {
  width: 280px;
  height: 100%;
  object-fit: cover;
  object-position: top;

  @include vp-1199 {
    width: 399px;
    height: 462px;
  }

  @include vp-767 {
    width: 100%;
    height: 299px;
  }
}
